.audit-circle-stat {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    position: relative;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    /* Цвет фона будем передавать прямо в HTML */
}

.audit-circle-stat::after {
    content: attr(data-val);
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 20px;
    color: #1e293b;
}
